.headerNavBox {
   @BG: #2A2A2A;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 9999;
   width: 100%;
   height: 0.8rem;
   line-height: 0.8rem;
   background: #fff;
   color: #FFF;
   .homeBox {
     height: 100%;
     .baseBox{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
       padding: 0 .2rem;
       height: 100%;
       font-size: .4rem;
       .logo {
         width:.6rem;
         height: .5rem;
         font-size: 0;
         background: url("../images/logo.png") no-repeat;
         background-size: 100% 100%;
       }
       div{
         color: #2A2A2A;
       }
       .icon {
         color: #2A2A2A;
       }
       .inputBox{
         background: #e8ecf0 !important;
         width: 5.2rem;
         border-radius: .3rem;
       }
     }
   }
 }